.container{
display:flex;
flex-direction: column;
gap:40px;
align-items: center;
}

.card{
padding:30px;
border:2px solid black;
background-color: antiquewhite;
width: 200px;
text-align: center;
}

footer{
    padding: 5px;
    display: flex;
    justify-content: center;
}